{% extends 'base.html.twig' %}
{% block javascripts_main %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div id="count"></div>
{% endblock %}
